body {
  background-color: #144520;
  /* background-image: url('./random.jpg'); */
}
h1 {
  background-color: #4169e1;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.titulo {
  color: #FF0000;
}
#meu_titulo {
  font-size: 100px;
  border: solid;
  border-color: #4169e1;
}
p {
  text-align: center;
}

img {
  width: 200px;
  height: 500px;
}
