* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  background-color: #DCE0D9;
}

.row {
  width: 100%;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}

.col-md-1 {
  width: 8.33%;
}

.col-md-2 {
  width: 16.66%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.33%;
}

.col-md-5 {
  width: 41.66%;
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.33%;
}

.col-md-8 {
  width: 66.66%;
}

.col-md-9 {
  width: 74.99%;
}

.col-md-10 {
  width: 83.33%;
}

.col-md-11 {
  width: 91.66%;
}

.col-md-12 {
  width: 100%;
}

.main-header {
  display: flex;
  position: relative;
  width: 100%;
  height: 110px;
  padding: 0px 25px;
  background-color: rgba(33, 15, 4, 1);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.main-header > .brand {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.main-header .logo {
  width: 200px;
  height: 80px;
}

.main-header .subtext {
  margin: 0;
  color: #ffffff;
}

.main-header > .phones {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 110px;
  background-color: #5E0C00;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.main-header .number {
  font-size: 1.3em;
}

.main-header .type {
  font-size: 1em;
  font-weight: bold;
}

.main-nav {
  display: none;
  width: 40%;
  height: 100%;
  justify-content: end;
  align-items: center;
}

.main-nav > .menu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-nav .item {
  list-style: none;
  color: #ffffff;
}

.main-nav .link {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.main-nav .icon {
  width: 50px;
  height: 50px;
}

.main-content {
  width: 100%;
  height: 100%;
}

.main-billboard {
  display: none;
  margin: 0;
  padding: 0;
}

.main-billboard .image {
  width: 100%;
  height: auto;
  background-size: cover;
}

.content-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 97px;
}

.content-nav .box {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.content-nav .figure {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.content-nav .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 200ms linear;
}

.content-nav .caption {
  position: absolute;
  font-size: 2em;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-grid {
  background-color: #DCE0D9;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 115px;
}

.menu-grid h1 {
  text-align: center;
  margin-bottom: 50px;
}

.row {
  display: inline-block;
}

.menu-grid p {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu-img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.menu-grid h3 {
  margin-top: 50px;
  margin-bottom: 5px;
}

.review-grid {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 115px;
}

.review-grid h1 {
  text-align: center;
  margin-bottom: 50px;
}

.row {
  display: inline-block;
}

.row > .col-lg-4 {
  margin-left: 16.5%;
  margin-bottom: 40px;
}

.review-grid h3 {
  display: inline-block;
  width: 70%;
  height: 100%;
  margin-left: 3%;
}

.review-grid p {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 3%;
}

.review-img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.review-grid h3 {
  margin-bottom: 0%;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  width: 100%;
  height: 100%;
  background-color: #5E0C00;
}

.main-footer .infos {
  display: flex;
  padding: 30px;
}

.main-footer .data {
  position: relative;
  color: #ffffff;
  margin-bottom: 40px;
}

.main-footer .data:not(:nth-child(2))::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  background-color: #DCE0D9;
  bottom: -19px;
  left: -10%;
}

.main-footer .title {
  margin: 0;
}

.main-footer .info {
  margin-bottom: 0;
}

.main-footer .bold {
  display: block;
  font-weight: bold;
}

.main-footer .copyright {
  color: #ffffff;
  order: 3;
}

@media (min-width: 880px) {
  .main-header {
    position: fixed;
    background-color: rgba(33, 15, 4, 0.7);
    top: 0;
    left: 0;
    justify-content: space-between;
    margin: 0;
  }
  
  .main-header .logo {
    width: 120px;
    height: 55px;
  }

  .main-header > .phones {
    position: relative;
    top: 0;
    background-color: transparent;
    padding: 0;
    width: initial;
  }

  .main-nav {
    display: flex;
  }

  .main-billboard {
    display: block;
  }

  .content-nav {
    flex-direction: row;
    margin-top: 0;
  }
  
  .content-nav .box {
    width: 33.33%;
  }
  
  .content-nav .image:hover {
    transform: scale(1.1);
  }

  .row > .col-md-8 {
    margin-left: 11.11%;
  }

  .main-footer {
    flex-direction: row;
  }

  .main-footer .data {
    margin-bottom: 0;
  }

  .main-footer .data:not(:nth-child(2))::after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    background-color: transparent;
    bottom: 0;
    left: 0;
  }
  
  .main-footer .data:not(:last-child) {
    margin-right: 40px;
  }
  
  .main-footer .copyright {
    order: initial;
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 74.99%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
